/* Стили для хедера */
header {
    background-color: #008CBA;
    color: #FFF;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  a.change:hover{
  color: #333; /* Меняем цвет текста */
}
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline-block;
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  /* Стили для контейнера товара */
  .container {
    max-width: 960px;
    margin: 100px auto 0 auto;
    padding: 0 20px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  h1 {
    font-size: 36px;
    margin-top: 20px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  .price {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  button {
    display: block;
    margin-top: 20px;
    padding: 20px;
    font-size: 18px;
    background-color: #ccc;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #555;
}

  
  @media only screen and (max-width: 768px) {
    /* Стили для хедера на мобильных устройствах */
    header {
      padding: 10px;
    }
    
    nav ul li {
      display: block;
      margin: 10px 0;
    }
    
    /* Стили для контейнера товара на мобильных устройствах */
    .container {
        margin-top: 80px;
        padding: 0;
      }
      
    h1 {
      font-size: 28px;
    }
      
    p {
      font-size: 16px;
    }
      
    .price {
      font-size: 20px;
    }
      
    button {
      font-size: 16px;
      padding: 8px 16px;
    }
    }
    
    /* Стили для футера */
    footer {
    background-color: #333;
    color: #FFF;
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    }
    
    footer p {
    margin: 0;
    }
    
    .social-media-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    }
    
    .social-media-icons a {
    display: inline-block;
    margin: 0 10px;
    }
    
    .social-media-icons img {
    max-width: 30px;
    height: auto;
    }
  